; Production site configuration data
[production]
; Application database
database.adapter   = Mysqli
database.host      = localhost
database.username  = ameecalc
database.password  = ameecalc
database.name      = ameecalc
database.port      = 3306
; FaceBook settings
facebook.appapikey = yourfacebookappapikeygoeshere
facebook.appsecret = yourfacebookappsecretgoeshere
facebook.appcallbackurl = "http://www.example.com/ameecalc/"
; AMEE login details
amee.host          = stage.co2.dgen.net
amee.port          = 80
amee.username      = yourameeusername
amee.password      = yourameepassword
; AMEE local cache database
amee.database.adapter   = Mysqli
amee.database.host      = localhost
amee.database.username  = ameecalc
amee.database.password  = ameecalc
amee.database.name      = ameecalc
amee.database.port      = 3306

; Staging site configuration data inherits from production and
; overrides values as necessary
[dev : production]
database.host     = localhost
amee.database.host      = localhost
