# ignore iws files
*.iws
output/
lib/restlet-1.1.1
.DS_Store
scripts/curl/.headers
scripts/curl/.cookies
*/target/
jmeter/*.jtl
jmeter/*.log
jmeter/results
jmeter/jchav
jmeter/*.properties
idea9/.idea/workspace.xml
mkmf.log
build.properties
wrapper.conf.local


