@font-face {
  font-family: Variable Black;
	src: url('/fonts/Variable_black_regular.ttf');
}

body {
  margin: 10px auto;
  font-size: 0.8em;
  font-family: Helvetica, Arial, sans-serif;
  padding: 0px 50px;
  max-width: 1100px;
}

body.login {
  background-color: #C0C0C0;
}

h1 {
  color: #41B2AF;
  font-size:150%;
  font-family: Variable black, sans;
  margin-top: 0px;
}

span.subh1 {
  color: black;
}

h2 {
  color: #41B2AF;
  font-family: Variable Black, sans;
  font-size:120%;
  margin-top: 20px;
}

h3 {
  color: #41B2AF;
  font-size:100%;
}

img {
  vertical-align: middle;
}

a img {
  border-width: 0px;
}

a {
  color: black;
}

div.user_bar {
  text-align: right;
  padding: 10px 15px 2px 0px;
}

div.user_bar a {
  color:#B1ACAE;
  font-weight:bold;
  text-decoration:none;
}

div#header {
  margin: 5px auto 10px auto;
  padding-left: 80px;
/*  padding-top: 25px;*/
  background-image: url(/images/amee-bug-purple73x77.png);
  background-repeat: no-repeat;
  min-height:80px;
}

.top_nav {
}

div.top_nav ul {
  list-style: none;
  height: 21px;
  padding-left: 5px;
  float: right;
/*  font-size: 120%;*/
  margin: 0px;
}

div.top_nav ul li {
  float: left;
  margin-right: 4px;
}

div.top_nav ul li a {
  display:block;
  padding: 0px 10px 2px 10px;
  white-space: nowrap;
}

div.top_nav ul li a.highlight, div.top_nav ul li a:hover {
  background-color: white;
}

td.title {
  font-weight: bold;
}

td.loading {
  color: #AAA;
}

form td textarea {
  width: 100%;
}

th {
  font-weight: bold;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

th.name {
  min-width: 100px;
}

th.baseline, td.baseline {
  background-color: #DDD;
}

div.content {
  margin: 5px;
}

span.carbon {
  font-size: 60%;
  color: #222;
}

table {
/*  border-spacing: 20px 5px;*/
/*  margin-bottom: 20px;*/
}

table.data td a {
  text-decoration: none;
}

table.data td a:hover {
  background-color: #FFFF99;
}


div#intensity {
	clear: both;
  background-color: #E6E6E6;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 10px 15px;
  margin: -20px 0 10px 0;
}

div#table_div, div.contentarea {
	clear: both;
  background-color: #E6E6E6;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 20px 50px;
  margin: 10px 0px;
}

body.login div#contentarea {
  background-color: white;
}

div#footer {
  text-align: center;
}

div.appinfobox {
  padding: 0px 20px;
  font-size: 120%;
  text-align: center;
  float: right;
  background-color: #D8E126;
  border: 1px solid black;
}

div#flash {
  width: 50%;
  margin: 10px auto;
  background-color: white;
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}

div.leftcol {
  width: 48%;
  float: left;
}

div.rightcol {
  width: 49%;
  float: right;
  border-left: 1px dashed #00909E;
  padding-left: 20px;
}

div.clear {
  clear: both;
}

input.action, select.action {
  background-color: #D8E126;
   -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 2px;
  border: 1px solid black;
  width: 100%;
  text-align: center;
}

#chart {
  padding-left: 20px;
  width: 1000px; 
  height: 300px; 
/*  border: 1px #ccc solid;*/
}

.timeline {
  padding-left: 20px;
  width: 1000px; 
  height: 300px; 

  padding-left: 0;
  width: 937px; 
/*  border: 1px #ccc solid;*/
}

.table-wrapper {
  clear: both;
}

.minor-info {
  font-size: 80%;
}

#breadcrumb {
  margin: 5px 5px 15px 0px;
  font-size: 110%;
}

.google-visualization-table-td {
  cursor: pointer;
}

#slider {
  width: 350px;
}

.feedback {
  text-align: center;
  color: #553;
  background: #f5f5a5;  
  border: 1px #f8fb0e solid;
  margin: 16px 215px 0;
  -moz-border-radius: 2px;
	-webkit-border-radius: 2px;  
	font-size: 110%;
	padding: 5px;
}

.dimmed {
  color: #888;
}

#search {
  margin: 15px 0 10px 5px;
  width: 300px;
  padding: 2px;
  font-size: 115%;
}

#date-range-wrapper {
  font-size: 110%;
  margin-bottom: 20px;
}

#slider {
  margin-top: 10px;
}

#search-wrapper {
  margin-top: -8px;
  float: right;
} 

.float-right {
  float: right;
}

#states-wrapper {
  background-color: #E6E6E6;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 20px 50px;
  margin: 10px 0px;  
  height: 380px;
}

#login {
  font-size: 110%;
}

#login input, #login submit {
  font-size: 110%;
}

#invalid-password {
  margin-left: -75px;
}

#intensity-chart-wrapper, #emissions-chart-wrapper {
  margin-bottom: 25px;
}

