<script type='text/javascript' src='http://www.google.com/jsapi'></script>
<script type='text/javascript'>
  google.load('visualization', '1', {'packages':['motionchart']});  
  google.setOnLoadCallback(drawChart);
  function drawChart() {        
    var data = new google.visualization.DataTable(<%= @data %>);

    var chart = new google.visualization.MotionChart(document.getElementById('chart_div'));
    chart.draw(data, {width: 600, height:300});    
  }
</script>

<div id="chart_div" style="width: 600px; height: 300px;"></div>
