<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                           http://www.springframework.org/schema/util
                           http://www.springframework.org/schema/util/spring-util-2.5.xsd">

    <bean id="dataApplication" class="com.amee.restlet.AMEEApplication">
        <property name="root" ref="dataRoot"/>
        <property name="tunnelService.methodTunnel" value="true"/>
        <property name="tunnelService.extensionsTunnel" value="true"/>
        <property name="statusService" ref="engineStatusService"/>
        <property name="rangeService.enabled" value="false"/>
        <property name="name" value="Data Administration"/>
        <property name="allowClientCache" value="true"/>
    </bean>

    <bean id="dataRoot" class="org.restlet.ext.spring.SpringRouter">
        <constructor-arg ref="dataApplication"/>
        <property name="attachments">
            <map>
                <entry key="">
                    <bean class="com.amee.engine.restlet.TransactionFilter">
                        <constructor-arg index="0" ref="dataApplication"/>
                        <property name="next">
                            <bean class="com.amee.restlet.site.SiteFilter">
                                <constructor-arg index="0" ref="dataApplication"/>
                                <property name="next">
                                    <bean class="com.amee.restlet.auth.BasicAuthFilter">
                                        <constructor-arg index="0" ref="dataApplication"/>
                                        <property name="next">
                                            <bean class="com.amee.restlet.auth.AuthFilter">
                                                <constructor-arg index="0" ref="dataApplication"/>
                                                <property name="next">
                                                    <bean class="com.amee.restlet.LogFilter">
                                                        <property name="next">
                                                            <bean class="com.amee.restlet.data.DataFilter">
                                                                <constructor-arg index="0" ref="dataApplication"/>
                                                                <property name="next" ref="dataRouter"/>
                                                            </bean>
                                                        </property>
                                                    </bean>
                                                </property>
                                            </bean>
                                        </property>
                                    </bean>
                                </property>
                            </bean>
                        </property>
                    </bean>
                </entry>
            </map>
        </property>
    </bean>

    <bean id="dataRouter" class="org.restlet.ext.spring.SpringRouter">
        <constructor-arg ref="dataApplication"/>
        <property name="defaultMatchingMode" ref="modeEquals"/>
        <property name="defaultMatchQuery" value="false"/>
        <property name="attachments">
            <map>
                <entry key="/categories/{categoryUid}">
                    <bean class="org.restlet.ext.spring.SpringFinder">
                        <lookup-method name="createResource" bean="dataCategoryResource"/>
                    </bean>
                </entry>
                <entry key="/categories/{categoryUid}/drill">
                    <bean class="org.restlet.ext.spring.SpringFinder">
                        <lookup-method name="createResource" bean="drillDownResource"/>
                    </bean>
                </entry>
                <entry key="/categories/{categoryUid}/items/{itemPath}">
                    <bean class="org.restlet.ext.spring.SpringFinder">
                        <lookup-method name="createResource" bean="dataItemResource"/>
                    </bean>
                </entry>
                <entry key="/categories/{categoryUid}/items/{itemPath}/values/{valuePath}">
                    <bean class="org.restlet.ext.spring.SpringFinder">
                        <lookup-method name="createResource" bean="dataItemValueResource"/>
                    </bean>
                </entry>
                <entry key="/dataItemLookup">
                    <bean class="org.restlet.ext.spring.SpringFinder">
                        <lookup-method name="createResource" bean="dataItemLookupResource"/>
                    </bean>
                </entry>
            </map>
        </property>
    </bean>

</beans>
