<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-2.5.xsd">

    <bean id="skinManager" class="com.amee.restlet.site.SkinManager">
        <property name="skins">
            <map>
                <entry key="base-import" value-ref="baseImportSkin"/>
                <entry key="amee-base-import" value-ref="ameeBaseImportSkin"/>
                <entry key="admin-import" value-ref="adminImportSkin"/>
                <entry key="admin-default" value-ref="adminDefaultSkin"/>
                <entry key="app-admin" value-ref="appAdminSkin"/>
                <entry key="cache-admin" value-ref="cacheAdminSkin"/>
                <entry key="site-admin" value-ref="siteAdminSkin"/>
                <entry key="account.skin" value-ref="accountSkin"/>
                <entry key="client-import" value-ref="clientImportSkin"/>
                <entry key="client-default" value-ref="clientDefaultSkin"/>
                <entry key="auth" value-ref="authSkin"/>
                <entry key="auth.admin.skin" value-ref="authAdminSkin"/>
                <entry key="auth.client.skin" value-ref="authClientSkin"/>
                <entry key="amee.environment.admin.skin" value-ref="ameeEnvironmentAdminSkin"/>
                <entry key="data.skin" value-ref="dataSkin"/>
                <entry key="profile.skin" value-ref="profileSkin"/>
            </map>
        </property>
    </bean>

    <bean id="baseImportSkin" class="com.amee.restlet.site.Skin">
        <property name="path" value="base-import"/>
    </bean>

    <bean id="ameeBaseImportSkin" class="com.amee.restlet.site.Skin">
        <property name="path" value="amee-base-import"/>
        <property name="parent" ref="baseImportSkin"/>
    </bean>

    <bean id="adminImportSkin" class="com.amee.restlet.site.Skin">
        <property name="path" value="admin-import"/>
        <property name="parent" ref="ameeBaseImportSkin"/>
    </bean>

    <bean id="adminDefaultSkin" class="com.amee.restlet.site.Skin">
        <property name="path" value="admin-default"/>
        <property name="importedSkins">
            <set>
                <ref local="adminImportSkin"/>
            </set>
        </property>
    </bean>

    <bean id="appAdminSkin" class="com.amee.restlet.site.Skin">
        <property name="path" value="app-admin"/>
        <property name="importedSkins">
            <set>
                <ref local="adminImportSkin"/>
            </set>
        </property>
    </bean>

    <bean id="cacheAdminSkin" class="com.amee.restlet.site.Skin">
        <property name="path" value="cache-admin"/>
        <property name="importedSkins">
            <set>
                <ref local="adminImportSkin"/>
            </set>
        </property>
    </bean>

    <!-- TODO: Merge fully with ameeEnvironmentAdminSkin. Do in skins folder too. -->
    <bean id="siteAdminSkin" class="com.amee.restlet.site.Skin">
        <property name="path" value="site-admin"/>
        <property name="importedSkins">
            <set>
                <ref local="adminImportSkin"/>
            </set>
        </property>
    </bean>

    <bean id="accountSkin" class="com.amee.restlet.site.Skin">
        <property name="path" value="account.skin"/>
        <property name="importedSkins">
            <set>
                <ref local="adminImportSkin"/>
            </set>
        </property>
    </bean>

    <bean id="clientImportSkin" class="com.amee.restlet.site.Skin">
        <property name="path" value="client-import"/>
        <property name="parent" ref="ameeBaseImportSkin"/>
    </bean>

    <bean id="clientDefaultSkin" class="com.amee.restlet.site.Skin">
        <property name="path" value="client-default"/>
        <property name="importedSkins">
            <set>
                <ref local="clientImportSkin"/>
            </set>
        </property>
    </bean>

    <bean id="authSkin" class="com.amee.restlet.site.Skin">
        <property name="path" value="auth"/>
    </bean>

    <bean id="authAdminSkin" class="com.amee.restlet.site.Skin">
        <property name="path" value="auth.admin.skin"/>
        <property name="parent" ref="authSkin"/>
        <property name="importedSkins">
            <set>
                <ref local="adminImportSkin"/>
            </set>
        </property>
    </bean>

    <bean id="authClientSkin" class="com.amee.restlet.site.Skin">
        <property name="path" value="auth.client.skin"/>
        <property name="parent" ref="authSkin"/>
        <property name="importedSkins">
            <set>
                <ref local="clientImportSkin"/>
            </set>
        </property>
    </bean>

    <!-- TODO: Merge fully with siteAdminSkin. Do in skins folder too. -->
    <bean id="ameeEnvironmentAdminSkin" class="com.amee.restlet.site.Skin">
        <property name="path" value="amee.environment.admin.skin"/>
        <property name="parent" ref="siteAdminSkin"/>
        <property name="importedSkins">
            <set>
                <ref local="adminImportSkin"/>
            </set>
        </property>
    </bean>

    <bean id="dataSkin" class="com.amee.restlet.site.Skin">
        <property name="path" value="data.skin"/>
        <property name="importedSkins">
            <set>
                <ref local="clientImportSkin"/>
            </set>
        </property>
    </bean>

    <bean id="profileSkin" class="com.amee.restlet.site.Skin">
        <property name="path" value="profile.skin"/>
        <property name="importedSkins">
            <set>
                <ref local="clientImportSkin"/>
            </set>
        </property>
    </bean>

</beans>