<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d] [%-5p] [%t] [%X{ipAddress}] [%X{userUid}] [%c{6}] %m%n"/>
        </layout>
    </appender>

    <!--                          -->
    <!-- Declare the SMTPAppender -->
    <!--
    <appender name="EMAIL"  class="org.apache.log4j.net.SMTPAppender">
        <param name="BufferSize" value="512" />
        <param name="SMTPHost" value="localhost" />
        <param name="From" value="amee" />
        <param name="To" value="steve@amee.com" />
        <param name="Subject" value="AMEE Server Application message" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
              value="[%d{ISO8601}]%n%n%-5p%n%n%c%n%n%m%n%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="ERROR "/>
            <param name="LevelMax" value="FATAL"/>
        </filter>
    </appender>
    -->

    <!--<appender name="FILE" class="org.apache.log4j.FileAppender">-->
    <!--<param name="file" value="/var/www/apps/amee/shared/log/amee.log"/>-->
    <!--<param name="append" value="true"/>-->
    <!--<param name="encoding" value="UTF-8"/>-->
    <!--<layout class="org.apache.log4j.PatternLayout">-->
    <!--<param name="ConversionPattern" value="[%d] [%-5p] [%t] [%X{ipAddress}] [%X{userUid}] [%c{6}] %m%n"/>-->
    <!--</layout>-->
    <!--</appender>-->

    <!-- ############### Hibernate ################# -->

    <!--category name="org.hibernate">
        <priority value="INFO"/>
    </category-->
    <!--category name="org.hibernate.SQL">
        <priority value="TRACE"/>
    </category-->
    <!--category name="org.hibernate.type">
        <priority value="TRACE"/>
    </category-->
    <!--category name="org.hibernate.loader">
        <priority value="TRACE"/>
    </category-->
    <!--category name="org.hibernate.cache">
        <priority value="TRACE"/>
    </category-->

    <!-- ############### Spring ################# -->

    <!--category name="org.springframework">
        <priority value="DEBUG"/>
    </category-->

    <!-- ############### Restlet ################# -->

    <!--category name="org.restlet">
        <priority value="DEBUG"/>
    </category-->

    <!-- ############### AMEE ################### -->

    <category name="com.amee">
        <priority value="DEBUG"/>
    </category>

    <!-- ############### log4jdbc ################### -->
    <!-- See: http://code.google.com/p/log4jdbc/ -->

    <category name="jdbc.sqlonly">
        <priority value="ERROR"/>
    </category>

    <category name="jdbc.sqltiming">
        <priority value="ERROR"/>
    </category>

    <category name="jdbc.audit">
        <priority value="ERROR"/>
    </category>

    <category name="jdbc.resultset">
        <priority value="ERROR"/>
    </category>

    <category name="jdbc.connection">
        <priority value="ERROR"/>
    </category>

    <!-- ############### Default ################### -->

    <root>
        <priority value="INFO"/>
        <!--<appender-ref ref="FILE"/>-->
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="EMAIL"/>
    </root>

</log4j:configuration>