#encoding=UTF-8
# Configuration files must begin with a line specifying the encoding of the the file.

# JAVA_HOME
set.default.JAVA_HOME=/System/Library/Frameworks/JavaVM.framework/Home
set.JDK_HOME=%JAVA_HOME%

# Java Library Path
wrapper.java.library.path.1=%LIB_HOME%/wrapper/macosx-universal-64

# AMEE_SERVER_NAME
set.AMEE_SERVER_NAME=localhost
set.AMEE_INSTANCE_NAME=local

# Log levels
set.LOG_LEVEL=DEBUG
set.DEFAULT_LOG_LEVEL=INFO
set.MAILLOG=true
set.HOPTOAD=true

# Extra Java Parameters
wrapper.java.additional.100=-Xdebug
wrapper.java.additional.101=-Xrunjdwp:transport=dt_socket,server=y,suspend=n,address=5005
wrapper.java.additional.102=-Dcom.sun.management.jmxremote.port=9988
wrapper.java.additional.103=-Dcom.sun.management.jmxremote.authenticate=false
wrapper.java.additional.104=-Dcom.sun.management.jmxremote.ssl=false
wrapper.java.additional.105=-XX:+PrintGCDetails

# Database
set.DB_USERNAME=amee
set.DB_PSWD=HhGCXdfbU2xA6i
set.DB_HOST=localhost
set.DB_NAME=amee
set.DB_DRIVER=net.sf.log4jdbc.DriverSpy
set.DB_URL_PREFIX=jdbc:log4jdbc

# Host Names
set.HOST_NAME=platform-local.amee.com
set.HOST_NAME.ADMIN=admin-platform-local.amee.com

# Train Route Service
set.TRAIN_ROUTE_SERVICE_URI=http://railservice.amee.com/route_finder/route_service.php

# Start The Servlet Context
# set.START_SERVLET_CONTEXT=true
# Servlets are not currently in use. See:
# - https://jira.amee.com/browse/PL-3427
# - https://jira.amee.com/browse/PL-40


# PROTOCOL
set.PROTOCOL=http

# PORT
set.PORT=8080
set.SECURE_PORT=8090

# Memory Sizing
wrapper.java.initmemory=512
wrapper.java.maxmemory=2048

# The license.
#encoding=UTF-8
wrapper.license.type=DEV
wrapper.license.id=201007090031
wrapper.license.licensee=AMEE UK (INTERNAL TESTING LICENSE)
wrapper.license.dev_application=AMEE Classic
wrapper.license.features=64bit, test
wrapper.license.upgrade_term.begin_date=2010-07-08
wrapper.license.upgrade_term.end_date=2010-10-08
wrapper.license.lease_term.begin_date=2010-07-08
wrapper.license.lease_term.end_date=2010-10-08
wrapper.license.key.1=9b00-c65f-3cef-295e
wrapper.license.key.2=f082-36dd-64fb-3d55
wrapper.license.key.3=c232-8a6f-1761-82c0
wrapper.license.key.4=f8bc-13fb-e148-472e
