<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                           http://www.springframework.org/schema/util
                           http://www.springframework.org/schema/util/spring-util-2.5.xsd">

    <bean id="environmentsApplication" class="org.restlet.Application">
        <property name="root" ref="environmentsRoot"/>
        <property name="tunnelService.methodTunnel" value="true"/>
        <property name="connectorService" ref="transactionConnectorService"/>
        <property name="name" value="Environment Administration"/>
    </bean>

    <bean id="environmentsRoot" class="org.restlet.ext.spring.SpringRouter">
        <property name="attachments">
            <map>
                <entry key="">
                    <bean class="com.jellymold.utils.ThreadBeanHolderFilter">
                        <property name="next">
                            <bean class="org.restlet.ext.seam.SpringFilter">
                                <constructor-arg index="0" ref="environmentsApplication"/>
                                <property name="next">
                                    <bean class="com.jellymold.kiwi.SiteFilter">
                                        <constructor-arg index="0" ref="environmentsApplication"/>
                                        <property name="next">
                                            <bean class="com.jellymold.kiwi.auth.BasicAuthFilter">
                                                <constructor-arg index="0" ref="environmentsApplication"/>
                                                <property name="next">
                                                    <bean class="com.jellymold.kiwi.auth.AuthFilter">
                                                        <constructor-arg index="0" ref="environmentsApplication"/>
                                                        <property name="next" ref="environmentsRouter"/>
                                                    </bean>
                                                </property>
                                            </bean>
                                        </property>
                                    </bean>
                                </property>
                            </bean>
                        </property>
                    </bean>
                </entry>
            </map>
        </property>
    </bean>

    <bean id="environmentsRouter" class="org.restlet.ext.spring.SpringRouter">
        <property name="attachments">
            <map>
                <entry key="">
                    <bean class="org.restlet.ext.spring.SpringFinder">
                        <lookup-method name="createResource" bean="environmentsResource"/>
                    </bean>
                </entry>
                <entry key="/{environmentUid}">
                    <ref local="environmentRouter"/>
                </entry>
            </map>
        </property>
    </bean>

    <bean id="environmentRouter" class="org.restlet.ext.spring.SpringRouter">
        <property name="attachments">
            <map>
                <entry key="">
                    <bean class="org.restlet.ext.spring.SpringFinder">
                        <lookup-method name="createResource" bean="environmentResource"/>
                    </bean>
                </entry>
                <entry key="/valueDefinitions">
                    <ref local="valueDefinitionsRouter"/>
                </entry>
                <entry key="/itemDefinitions">
                    <ref local="itemDefinitionsRouter"/>
                </entry>
                <entry key="/algorithmContexts">
                    <ref local="algorithmContextsRouter"/>
                </entry>
                <entry key="/sites">
                    <ref local="sitesRouter"/>
                </entry>
                <entry key="/users">
                    <ref local="usersRouter"/>
                </entry>
                <entry key="/groups">
                    <ref local="groupsRouter"/>
                </entry>
                <entry key="/roles">
                    <ref local="rolesRouter"/>
                </entry>
            </map>
        </property>
    </bean>

    <bean id="valueDefinitionsRouter" class="org.restlet.ext.spring.SpringRouter">
        <property name="attachments">
            <map>
                <entry key="">
                    <bean class="org.restlet.ext.spring.SpringFinder">
                        <lookup-method name="createResource" bean="valueDefinitionsResource"/>
                    </bean>
                </entry>
                <entry key="/{valueDefinitionUid}">
                    <bean class="org.restlet.ext.spring.SpringFinder">
                        <lookup-method name="createResource" bean="valueDefinitionResource"/>
                    </bean>
                </entry>
            </map>
        </property>
    </bean>

    <bean id="itemDefinitionsRouter" class="org.restlet.ext.spring.SpringRouter">
        <property name="attachments">
            <map>
                <entry key="">
                    <bean class="org.restlet.ext.spring.SpringFinder">
                        <lookup-method name="createResource" bean="itemDefinitionsResource"/>
                    </bean>
                </entry>
                <entry key="/{itemDefinitionUid}">
                    <bean class="org.restlet.ext.spring.SpringFinder">
                        <lookup-method name="createResource" bean="itemDefinitionResource"/>
                    </bean>
                </entry>
                <entry key="/{itemDefinitionUid}/algorithms">
                    <bean class="org.restlet.ext.spring.SpringFinder">
                        <lookup-method name="createResource" bean="algorithmsResource"/>
                    </bean>
                </entry>
                <entry key="/{itemDefinitionUid}/algorithms/{algorithmUid}">
                    <bean class="org.restlet.ext.spring.SpringFinder">
                        <lookup-method name="createResource" bean="algorithmResource"/>
                    </bean>
                </entry>
                <entry key="/{itemDefinitionUid}/itemValueDefinitions">
                    <bean class="org.restlet.ext.spring.SpringFinder">
                        <lookup-method name="createResource" bean="itemValueDefinitionsResource"/>
                    </bean>
                </entry>
                <entry key="/{itemDefinitionUid}/itemValueDefinitions/{itemValueDefinitionUid}">
                    <bean class="org.restlet.ext.spring.SpringFinder">
                        <lookup-method name="createResource" bean="itemValueDefinitionResource"/>
                    </bean>
                </entry>
            </map>
        </property>
    </bean>

    <bean id="algorithmContextsRouter" class="org.restlet.ext.spring.SpringRouter">
        <property name="attachments">
            <map>
                <entry key="">
                    <bean class="org.restlet.ext.spring.SpringFinder">
                        <lookup-method name="createResource" bean="algorithmContextsResource"/>
                    </bean>
                </entry>
                <entry key="/{algorithmContentUid}">
                    <bean class="org.restlet.ext.spring.SpringFinder">
                        <lookup-method name="createResource" bean="algorithmContextResource"/>
                    </bean>
                </entry>
            </map>
        </property>
    </bean>

    <bean id="sitesRouter" class="org.restlet.ext.spring.SpringRouter">
        <property name="attachments">
            <map>
                <entry key="">
                    <bean class="org.restlet.ext.spring.SpringFinder">
                        <lookup-method name="createResource" bean="sitesResource"/>
                    </bean>
                </entry>
                <entry key="/{siteUid}">
                    <bean class="org.restlet.ext.spring.SpringFinder">
                        <lookup-method name="createResource" bean="siteResource"/>
                    </bean>
                </entry>
                <entry key="/{siteUid}/apps">
                    <bean class="org.restlet.ext.spring.SpringFinder">
                        <lookup-method name="createResource" bean="siteAppsResource"/>
                    </bean>
                </entry>
                <entry key="/{siteUid}/apps/{siteAppUid}">
                    <bean class="org.restlet.ext.spring.SpringFinder">
                        <lookup-method name="createResource" bean="siteAppResource"/>
                    </bean>
                </entry>
                <entry key="/{siteUid}">
                    <bean class="org.restlet.ext.spring.SpringFinder">
                        <lookup-method name="createResource" bean="siteResource"/>
                    </bean>
                </entry>
            </map>
        </property>
    </bean>

    <bean id="usersRouter" class="org.restlet.ext.spring.SpringRouter">
        <property name="attachments">
            <map>
                <entry key="">
                    <bean class="org.restlet.ext.spring.SpringFinder">
                        <lookup-method name="createResource" bean="usersResource"/>
                    </bean>
                </entry>
                <entry key="/upload">
                    <bean class="org.restlet.ext.spring.SpringFinder">
                        <lookup-method name="createResource" bean="userUploadResource"/>
                    </bean>
                </entry>
                <entry key="/{userUid}">
                    <bean class="org.restlet.ext.spring.SpringFinder">
                        <lookup-method name="createResource" bean="userResource"/>
                    </bean>
                </entry>
                <entry key="/{userUid}/groups">
                    <bean class="org.restlet.ext.spring.SpringFinder">
                        <lookup-method name="createResource" bean="userGroupsResource"/>
                    </bean>
                </entry>
                <entry key="/{userUid}/groups/{groupUid}">
                    <bean class="org.restlet.ext.spring.SpringFinder">
                        <lookup-method name="createResource" bean="userGroupResource"/>
                    </bean>
                </entry>
                <entry key="/{userUid}/groups/{groupUid}/roles">
                    <bean class="org.restlet.ext.spring.SpringFinder">
                        <lookup-method name="createResource" bean="userGroupRolesResource"/>
                    </bean>
                </entry>
                <entry key="/{userUid}/groups/{groupUid}/roles/{roleUid}">
                    <bean class="org.restlet.ext.spring.SpringFinder">
                        <lookup-method name="createResource" bean="userGroupRoleResource"/>
                    </bean>
                </entry>
            </map>
        </property>
    </bean>

    <bean id="groupsRouter" class="org.restlet.ext.spring.SpringRouter">
        <property name="attachments">
            <map>
                <entry key="">
                    <bean class="org.restlet.ext.spring.SpringFinder">
                        <lookup-method name="createResource" bean="groupsResource"/>
                    </bean>
                </entry>
                <entry key="/{groupUid}">
                    <bean class="org.restlet.ext.spring.SpringFinder">
                        <lookup-method name="createResource" bean="groupResource"/>
                    </bean>
                </entry>
                <entry key="/{groupUid}">
                    <bean class="org.restlet.ext.spring.SpringFinder">
                        <lookup-method name="createResource" bean="groupResource"/>
                    </bean>
                </entry>
            </map>
        </property>
    </bean>

    <bean id="rolesRouter" class="org.restlet.ext.spring.SpringRouter">
        <property name="attachments">
            <map>
                <entry key="">
                    <bean class="org.restlet.ext.spring.SpringFinder">
                        <lookup-method name="createResource" bean="rolesResource"/>
                    </bean>
                </entry>
                <entry key="/{roleUid}">
                    <bean class="org.restlet.ext.spring.SpringFinder">
                        <lookup-method name="createResource" bean="roleResource"/>
                    </bean>
                </entry>
                <entry key="/{roleUid}/actions">
                    <bean class="org.restlet.ext.spring.SpringFinder">
                        <lookup-method name="createResource" bean="roleActionsResource"/>
                    </bean>
                </entry>
                <entry key="/{roleUid}/actions/{actionUid}">
                    <bean class="org.restlet.ext.spring.SpringFinder">
                        <lookup-method name="createResource" bean="roleActionResource"/>
                    </bean>
                </entry>
            </map>
        </property>
    </bean>

</beans>
