<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                           http://www.springframework.org/schema/util
                           http://www.springframework.org/schema/util/spring-util-2.5.xsd">

    <bean id="dataApplication" class="org.restlet.Application">
        <property name="root" ref="dataRoot"/>
        <property name="tunnelService.methodTunnel" value="true"/>
        <property name="connectorService" ref="transactionConnectorService"/>
        <property name="name" value="Data Administration"/>
    </bean>

    <bean id="dataRoot" class="org.restlet.ext.spring.SpringRouter">
        <property name="attachments">
            <map>
                <entry key="">
                    <bean class="com.jellymold.utils.ThreadBeanHolderFilter">
                        <property name="next">
                            <bean class="org.restlet.ext.seam.SpringFilter">
                                <constructor-arg index="0" ref="dataApplication"/>
                                <property name="next">
                                    <bean class="com.jellymold.kiwi.SiteFilter">
                                        <constructor-arg index="0" ref="dataApplication"/>
                                        <property name="next">
                                            <bean class="com.jellymold.kiwi.auth.BasicAuthFilter">
                                                <constructor-arg index="0" ref="dataApplication"/>
                                                <property name="next">
                                                    <bean class="com.jellymold.kiwi.auth.AuthFilter">
                                                        <constructor-arg index="0" ref="dataApplication"/>
                                                        <property name="next">
                                                            <bean class="gc.carbon.data.DataFilter">
                                                                <property name="next" ref="dataRouter"/>
                                                            </bean>
                                                        </property>
                                                    </bean>
                                                </property>
                                            </bean>
                                        </property>
                                    </bean>
                                </property>
                            </bean>
                        </property>
                    </bean>
                </entry>
            </map>
        </property>
    </bean>

    <bean id="dataRouter" class="org.restlet.ext.spring.SpringRouter">
        <property name="attachments">
            <map>
                <entry key="/categories/{categoryUid}">
                    <bean class="org.restlet.ext.spring.SpringFinder">
                        <lookup-method name="createResource" bean="dataCategoryResource"/>
                    </bean>
                </entry>
                <entry key="/categories/{categoryUid}/drill">
                    <bean class="org.restlet.ext.spring.SpringFinder">
                        <lookup-method name="createResource" bean="drillDownResource"/>
                    </bean>
                </entry>
                <entry key="/categories/{categoryUid}/items/{itemUid}">
                    <bean class="org.restlet.ext.spring.SpringFinder">
                        <lookup-method name="createResource" bean="dataItemResource"/>
                    </bean>
                </entry>
                <entry key="/categories/{categoryUid}/items/{itemUid}/values/{valueUid}">
                    <bean class="org.restlet.ext.spring.SpringFinder">
                        <lookup-method name="createResource" bean="dataItemValueResource"/>
                    </bean>
                </entry>
                <!-- TODO: is this actually used by anybody? -->
                <entry key="/categories/{categoryUid}/sheet">
                    <bean class="org.restlet.ext.spring.SpringFinder">
                        <lookup-method name="createResource" bean="dataCategorySheetResource"/>
                    </bean>
                </entry>
            </map>
        </property>
    </bean>

</beans>
